.card {

}

.card img {

}

.card__body {
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.card__category {

}

.card__title {

}

.card__text-muted {

}

.card__link {

}