.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.container-header {
  max-width: 1200px;
  margin: 0 auto;
}

.container-footer {
  max-width: 1200px;
  margin: 0 auto;

  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}