.footer {
  background-color: #111;
  
  h5 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
  }
}

.footer__brand {

  p {
    margin: 0;
  }

  i {
    margin-left: 5px;
    color: #ff0000;
  }
}

.footer__contact {

}