.jumbotron {
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;

  background-color: #fff;
}

.jumbotron__title {
  
}

.jumbotron__text {

}

.jumbotron__link {
  text-decoration: none;
}